<!DOCTYPE html>
<html lang="en">
<head>
        {% block head %}
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="./css/style.css">
            <link rel="stylesheet" href="../css/style.css">
    <title>Blog Bball Woodly Boursiquot </title>
            <title>{% block title %}{% endblock %} Blog Bball Woodly Boursiquot</title>
        {% endblock %}
    </head>
{% block header %}
<header> 
        <nav class="navbar" >
        <ul>
        <li><a href="../index.php">Homepage</a></li>
        <li><a href="view/team-list.php">Équipe et villes</a></li>
        <li><a href="view/coach-list.php">Coach</a></li>
        <li><a href="view/joueur-list.php">joueur</a></li>
        </ul>

        </nav>
{% endblock %}
</header> 


    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
               
<div class="footer_menu">
<ul>
 
  <li><a href="view/team-list.php"> Ajouter ou supprimer une ville</a></li>
  <li><a href="view/coach-list.php">Cliquez sur une equipe  pour voir la liste des joueurs par equipe</a></li>
  <li><a href="view/joueur-list.php">Modifier ou effacer un joueur </a></li>
     {% endblock %}
</ul>
</div>
<footer> 
 <h1> </h1>  
</footer>

    
</body>

</html>
         
        </div>
    </body>
</html>