*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}




body{
    font-family: Helvetica;
    -webkit-font-smoothing: antialiased;
    background: rgb(238, 205, 189);
}
h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
}


/* Menu */
ul{  
    display: flex;
    list-style-type: none;
    
    justify-content: center;
    flex-direction: row;

}


ul a {  
    text-decoration: none;
    


}


.navbar {

    display: flex;
    align-items: center;
     background: #152230; 
     margin-bottom: 35px;
   
  }


  .navbar a {
   
    color: white ; 
    padding: 5px;
    
  }

  .navbar a :hover{
   
    color:  rgb(255, 84, 5);
    
  }





/* Footer Menu */


.footer_menu{
    padding: 10px;
}

.footer_menu a {
    padding: 15px;
    color: white ; 
    background: #324960; 
    margin-right: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.footer_menu a:hover {
    padding: 18px;
    color:  rgb(227, 120, 71);
    
}






/* Table Styles */

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
   
}

.fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}





.fl-table a {
    color: rgb(227, 120, 71);
    text-decoration: none;
    font-weight: 400;

}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.fl-table thead th {
    color: #ffffff;
    background: rgb(227, 120, 71);
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
}


/*  Bouton */
/* Reference ; https://codepen.io/simonbusborg/pen/Dmepwo */



.button_wrapper {
    
    display: flex;
    box-sizing: border-box;
    
    font-size: 16px;
    font-weight: 700;
    line-height: 1;

    margin: 60px auto;

    flex-wrap: wrap;
  

    justify-content: center;
    align-items: center;
   
    

}


.buttoncta {
    color: white;
    border: 1px;
    text-decoration: none;
    background-color:rgb(227, 120, 71);
    overflow: hidden;
    border-radius: 36px ;
    padding: 12px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}


.buttoncta:hover  {
    
    border-radius: 34px ;
    padding: 14px;
}

